name: Sync to Hugging Face
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Push to HF
        env:
          HF_SYNC_TOKEN: ${{ secrets.sync }}
        run: |
          git remote add hf https://daredevils00:$HF_SYNC_TOKEN@huggingface.co/spaces/daredevils00/test
          git push --force hf main
